---
import Layout from '../layouts/Layout.astro';
import Feed from '../components/Feed.astro';
---

<Layout title="Zapder">
  <div class="flex-row">
    <div class="pt-3 lg:w-[60%] w-[100%]"><Feed /></div>
  </div>
</Layout>

<script></script>
