---
import Feed from '../components/Feed.astro';
import Main from '../layouts/Main.astro';
---

<Main title="Zapder">
  <div class="flex-row">
    <div class="pt-3 lg:w-[60%] w-[100%]"><Feed /></div>
  </div>
</Main>

<script></script>
