---
import Layout from '../layouts/Layout.astro';
// import Feed from '../components/Feed.astro';
---

<Layout title="Zapder">
  <!-- <Feed /> -->
  <div class="pb-10">
    <div class="container mx-auto flex-col mb-2 py-5">
      <div class="text-center">
        <h1 class="text-4xl mb-5">Coming soon 🚀</h1>
      </div>
    </div>
  </div>
</Layout>

<script></script>
