<feed-box></feed-box>

<script>
  import { LitElement, html } from 'lit';
  import { customElement, property, state } from 'lit/decorators.js';
  import { SimplePool, type Event, nip19 } from 'nostr-tools';
  import { defaultRelays } from '../config';
  import { unsafeHTML } from 'lit/directives/unsafe-html.js';
  import { replaceEmbed } from './embed';
  import type { Profile } from '../utils/nostr';
  import Nostr from '../utils/nostr';

  interface Media {
    type: 'image' | 'video';
    url: string;
  }

  interface FeedData {
    content: string;
    profile?: Profile;
    medias?: Media[];
  }

  @customElement('feed-box')
  class feedElement extends LitElement {
    createRenderRoot() {
      return this; // turn off shadow dom to access external styles
    }

    @property()
    private events: Event[] = [];

    @state()
    private feedData: FeedData[] = [];

    constructor() {
      super();

      (async () => {
        const pool = new SimplePool();

        this.events = await pool.list(defaultRelays, [{ kinds: [1], limit: 10 }]);

        for (const it of this.events) {
          const profile = await Nostr.getProfile(it.pubkey);
          this.feedData = [
            ...this.feedData,
            {
              content: replaceEmbed(it.content),
              profile,
            },
          ];
        }

        console.log(this.events);
        console.log('feedData', this.feedData);
      })();
    }

    render() {
      return this.feedData.map(
        (it) => html`
          <div class="border-b px-4 py-2">
            <div class="flex items-start space-x-4 pb-4">
              <img class="w-10 h-10 rounded-full" src="${it.profile?.picture || '/svg/avatar.svg'}" alt="" />
              <div class="flex-col break-words">
                <div class="mb-1 font-medium dark:text-white">${it.profile?.display_name || it.profile?.name}</div>
                <div class="break-words">${unsafeHTML(it.content)}</div>
              </div>
            </div>
          </div>
        `,
      );
    }
  }
</script>
